.specializationWrapper {
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  padding: 5%;
  margin: 0 auto;
  text-align: center;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0px, 1fr));
  gap: 16px;
  width: 100%;
}

@media screen and (max-width:768px) {
    .cardWrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(0px, 1fr));
        gap: 16px;
        width: 100%;
      }
}

@media screen and (max-width:400px) {
    .cardWrapper {
    grid-template-columns: repeat(1, minmax(0px, 1fr));
    }
}