.wrapper {
  display: flex;
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  position: relative;
  min-height: 60vh;
  overflow: visible;
  align-items: center;
}
.left-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  /* align-items: center; */
  padding: 1em;
  position: relative;
  width: 50%;
}

.imageStack {
  position: relative;
  /* /* max-width: 600px; */
  width: 100%;
}

.topImage img,
.bottomImage img {
  width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.topImage {
  position: absolute;
  right: 0;
  z-index: 1;
}

.bottomImage {
  /* position: absolute; */

  /* bottom: 2%; */
  /* right: 45%;
    width: 90%;
    z-index: 2; */
}

.badge {
  position: absolute;
  top: 20px;
  right: 50%;
  background: white;
  padding: 0.8rem 1.2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 0.6rem;
  align-items: center;
  z-index: 3;
  margin-left: auto;
}

.icon {
  color: #1976d2;
}

.title {
  font-weight: 600;
  color: #1976d2;
}

.subtitle {
  font-size: 0.85rem;
  color: #555;
}

.right-wrapper {
  width: 50%;
  padding: 3% 8%;
}

@media screen and (min-width: 900px) {
  .badge {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .left-wrapper {
    width: 100%;
  }
  .bottomImage {
    display: none;
  }
  .topImage {
    margin-left: 0;
    position: static;
    width: 100%;
  }
  .topImage > img {
    width: 100%;
  }

  .badge {
    top: 10px;
    left: 10px;
    padding: 0.6rem 1rem;
    font-size: 0.85rem;
  }
}
