.modalContainer {
  width: 80%;
  height: 50vh;
  margin: 0 auto;
  margin-top: -20%;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 6px 6px 35px 0px #1028511c;
  padding: 5%;
}

@media screen and (max-width: 768px) {
  .modalContainer {
    margin-top: 0;
    margin: 5% auto;
    width: 90%;
  }
}
