.searchContainer {
  display: flex;
  align-items: center;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 8px 12px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s, box-shadow 0.2s;
  width: 100%;
}

.searchContainer:focus-within {
  border-color: #3b82f6;
  border: 1px solid #f0f0f0;
}

.icon {
  width: 15px;
  height: 16px;
  margin-right: 8px;
  opacity: 0.6;
}

.input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 14px;
}
.dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 25%;
  z-index: 10;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 4px;
  margin-top: 4px;
}

.dropdownItem {
  padding: 0.5rem;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}
