.acquisitionWrapper {
  display: flex;
  padding: 5%;
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  align-items: center;
  margin-top: 5%;
  gap: 5%;
}
.leftWrapper {
  width: 50%;
  color: #77829d;
}
.rightWrapper {
  width: 50%;
  display: flex;
  gap: 10%;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .acquisitionWrapper {
    flex-wrap: wrap;
  }
  .leftWrapper {
    width: 100%;
  }
  .rightWrapper {
    width: 100%;
  }
}
